.images_entete {}

.image-gallery-entete img {
    min-height: 590px;
    /* seulement prototype */
    max-width: 100%;
    width: 100%;
    /* seulement prototype */
    background-color: lightgrey;
    /* seulement prototype */
}


.image-gallery-entete {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.image-gallery-entete>div {
    flex-basis: 590px;
}

.image-gallery-entete div img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 50px;
}

@media screen and (max-width: 1280px) {
    .image-gallery-entete {
        justify-content: center;
    }
}

@media screen and (max-width: 720px) {
    .image-gallery-entete>div {
        flex-basis: 293.33px;
        padding: 25px;
    }

    .image-gallery-entete img {
        min-height: 293.33px;
    }

}
