/* .gif-animer {
    margin-top: 100px;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 100px;
    height: 720px;
    width: 1080px;
    max-width: 100%;
    border-radius: 100px;
    margin-bottom: 100px;
}

.hero {
    font-size: 50pt;
    color: white;
} */

/* .hero-image {
    display: flex;
    flex-direction: column;
    background-image: url("gif.gif");
    background-size: cover;
    min-height: 15em;
    height: 100%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-header {
    align-self: center;
    font-size: 50px;
} */

.hero {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 84.375vw;
    height: 100vh;
    background-image: url("https://media4.giphy.com/media/3oEhmIDWKdv2yZAaTm/giphy.gif?cid=ecf05e476ivcgsz3tyj1atrl2n021p0doaa38nag89pa0zc2&rid=giphy.gif&ct=g");
    background-size: cover;

    display: flex;
    align-items: center;
}


.hero__text {
    margin: auto;
    text-align: center;
    width: 40vw;
    padding: 5vw;
    font-family: sans-serif;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.hero__text__heading {
    font-size: 7vw;
}

.hero__text__body {
    padding-top: 1vw;
    font-size: 2vw;
}