* {
    /* outline: dotted; */
}

.image-gallery img {
    min-height: 250px;
    /* seulement prototype */
    max-width: 100%;
    width: 100%;
    /* seulement prototype */
    background-color: lightgrey;
    /* seulement prototype */
}


.image-gallery {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}

.image-gallery>div {
    flex-basis: 250px;
}

.image-gallery div img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 50px;
}

.texte {
    position: relative;
    text-align: center;
    color: black;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
    .image-gallery {
        padding: 50px;
        justify-content: center;
    }
}